// @import "../utils.scss/mixins";
// @import "../base/variables";
// @import "../base/global";
// @import "../composant/buttons";
// @import "../composant/animations";

  
  header{
    .logo{
      height: 40px;
      text-align: center;
      padding: 10px 30px 0 0;
      position: relative;
  
      .arrow{
        position: absolute;
        top: 15px;
        margin-left: 30px;
        font-size: 25px;
        color: $black;
        cursor: pointer;
      }
        h1{
        text-align: center;
        color: $black;
        font-size: 1.5rem;
      }
    }
  } 

  
/************Menu***********/
main{
  .image{
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  background-color: #f5f3f3;
  margin-top: 40px;              
  .bordureMenu{
    background-color: $grey;
    // margin-top: -20px;
    border-radius: 25px 25px 0 0;
    z-index: 1;//pour remonter la bordure par dessus l'image
    position: relative;
    margin-top: -4rem;//pour remonter la bordure par dessus l'image
      h2{
        font-size: 1.5rem;
        margin-left: 30px;
        padding: 30px 0;
      }
      .heart{
        position: relative;
        &__far{
            position: absolute;
            right: 48px;
            bottom: 30px;
            font-size: 25px;
            color: rgb(104, 101, 101);
          }  
        &__fas{
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          position: absolute;
          cursor: pointer;
          right: 48px;
          bottom: 30px;
          font-size: 25px;
          transition:all 1500ms ease-in-out;
          opacity: 0;
              &:hover{
              background-image: linear-gradient($secondary,$primary);
              opacity: 1;
            }
        }
      }
  }
}

.menu{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.menu-category{
  overflow: hidden;
    h3{
      text-transform: uppercase;
      border-bottom: solid 3px  $tertiary;
      width: 50px;
      margin-left: 28px;
      color:#847f7f
    }    
}
.menu-item{
  display: flex;
  overflow: hidden;/*pour "cacher" le check qui est en dehors de la div*/
  border-radius: 1rem;
  @include boxShadow;
  background-color:$white;
  margin: 20px;
  cursor: pointer;
  &:hover  
    .check{
      background-color: $tertiary;
      border-radius: 0 1rem 1rem 0;
      margin-left: -3rem; 
      width: 4rem;
      margin-left: 0;
      // transition: all 0.5s;
      @include flexCenter;
      flex-shrink: 0;/*propriété qui interdit a l'élément de rétrécir*/
      animation: slide-left 1s ease;
      
        i::before{
        content: "\f00c";
        font-family: "Font Awesome 5 free";
        font-weight: 900;
        background: $white;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        @include flexCenter;
        color: $tertiary;
        animation: quatorspin 1s ease-in;
    
      }
    }
}   
.menu-item-text{
  padding: 1rem;/*pour que l'item check prenne bien la hauteur du parent menuItemDescription*/
  overflow: hidden;
  h4, p{
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;/*pour demander de ne pas aller à la ligne*/
    text-overflow: ellipsis;/*pour faire apparaitre les ... au responsive mobile*/
  }
}

.price{
  margin-left: auto;/*pour mettre le prix a droite de la bordure*/
  font-weight: 900;
  padding: 1rem;
  display: flex;/*pour descendre le prix en bas de la div. Il faut mettre un span car sinin le flex ne marche pas*/
  align-items: flex-end;
}




.order button {
  padding: 15px 45px;
  border-radius: 30px;
  border: transparent;
  color: $white;
  font-weight: 500;
  font-size: 15px;
  background: linear-gradient($secondary,$primary);
  cursor: pointer;
  transition: background-color 1s;
  @include boxShadow;
  margin: 20px 0 40px 0;
  transition: 1s;
  &:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
  }
}

.order{
  display: flex;/*pour centrer le bouton*/
  justify-content: center;
  align-items: center;
}




/*Footer*/
footer{
  // margin-top: 20px;
  background-color: rgb(68, 67, 67);
  height: 300px;
  color: $white;
  padding-top: 10px;
  padding-left: 20px;
    h5{
      font-family: 'Shrikhand', cursive, sans-serif;
      font-size: 1.5rem;
    }
    .ustensil{
      display: flex;
      align-items: center;
    }
      .hands{
      display: flex;
      align-items: center;
    }
}

