button{
    padding: 15px 25px;
    border-radius: 30px;
    border: transparent;
    color: global.$white;
    font-weight: 500;
    font-size: 15px;
    background: linear-gradient(global.$secondary,global.$primary);
    cursor: pointer;
    transition: 1s;
    @include mixins.boxShadow;
      &:hover{
        opacity: 0.8;
        @include mixins.boxShadowDarken;
      }
  }