$white:white;
$black:black;
$grey: rgb(245, 243, 243);
$lightgrey:rgb(253, 251, 251);
$darkgrey:rgb(230, 224, 224);
$primary:#9356DC;
$primaryDarken:#6d36af;
$secondary:#FF79DA;
$secondaryLight:  #efd8fc;
$tertiary:#99E2D0;
$tertiaryDarken: #249f80;