
/*******Title******/
h1{
  text-align: center;
  font-family: global.$font1;
}

/*********Discover********/
.discover{
  text-align: center;
  background: global.$grey;
  height: 320px;
    h2{
      padding: 30px 20px 22px;
      font-weight: global.$bolder;
      font-family: global.$font2;
      font-size: 1.7rem;
      margin: 0 30px;
    }
    p{
      font-size: global.$fontSizeSmall;
      padding: 10px 20px 25px;
      margin-bottom: 30px;
    }
}

/***********Choose list**********/
.choice{
  background-color: global.$white;
  height: 420px;
  &__title{
    font-size: global.$fontSizeTitle;
    font-weight: global.$bolder;
    margin: 0 15px 30px;
    padding-top: 20px;
  }
}

.choice li{
  @include mixins.flexCenter;
  padding: 30px;
  margin: 30px;
  background-color: global.$grey;
  border-radius: 30px;
  box-shadow: global.$boxShadow;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
    &:hover{
      opacity:0.7;
      box-shadow: global.$boxShadowDarken;
      background-color: global.$secondaryLight
    }
    span {
      color: global.$white;
      height: 25px;
      width: 25px;
      background-color: global.$primary;
      border-radius: 50%;
      @include mixins.flexPosition(center);
      position: absolute;
      left: -15px;
    }
    .fa-mobile-alt, .fa-list-ul, .fa-store {
      margin-right: 15px;
      font-size: 20px;
      &:hover{
        color: global.$primaryDarken
      }
    }
    p{
      font-size: global.$fontSizeSmall;
    }
}

/***********Menu card*********/
.picture{
  background-color: global.$grey;
  height: 1200px;
      &__title{
        padding-top: 50px;
        font-size: global.$fontSizeTitle;
        margin: 0 30px 30px 15px;
      }
      &__flex{
          @include mixins.flexCenter;
          flex-wrap: wrap;
          &--bordureMenu{
            border: 2px solid global.$white;
            border-radius: 20px;
            box-shadow: global.$boxShadowLight;
            background-color: global.$white;
            width: 90%;
            height: 240px;
            margin: 0 20px 20px 10px;
            position: relative;
            cursor: pointer;
            .image1, .image2, .image3, .image4{
            @include mixins.imageSize;
            }
          }  
      }
}
/*******card new on the menu card*******/
.picture .new{
  position: absolute;
  right: 16px;
  top: 13px;
  padding: 8px;
  background-color: global.$tertiary;
  color: global.$tertiaryDarken;
  font-weight: 700;
  .textImage{
    margin-left: 15px;
    h4{
      padding-top: 10px;
      font-weight: global.$bolder;
    }
  } 
}
/*********Heart on the menu card*********/
.picture .heart{
  position: relative;
    &__far{
    position: absolute;
    right: 16px;
    bottom: 7px;
    font-size: global.$sizeHeart;
    color: global.$blackLightest;
  }  
    &__fas{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    cursor: pointer;
    right: 16px;
    bottom: 7px;
    font-size: global.$sizeHeart;
    transition: all 1500ms ease-in-out;
    opacity: 0;
      &:hover{
        background-image: linear-gradient(global.$secondary,global.$primary);
        opacity: 1;
      }
    }    
}  
                 
/*************Responsive************/

  @media screen and (min-width: 950px){
    .choice{
    height: 350px;  
    &__title{
      text-align: center;
      font-size: 2rem;
    }
  }
    .choice li{
      padding: 20px 50px;
      font-size: global.$fontSizeSmall;
    }
   
    .choice ol{
      @include mixins.flexPosition(space-evenly);
    }
    .picture{
      height: 700px;
      &__title{
        text-align: center;
        font-size: 2rem;
        padding-top: 0;
        margin-bottom: 70px;
      }
      &__flex{
        @include mixins.flexCenter;
        flex-wrap: nowrap;
        margin: 0 20px;
      }
      
    }
}











  
