
h1{
  text-align: center;
}

.map{
  @include flexCenter;
   background: $darkgrey;
   width: 100%;
   height: 60px;
    p{
      padding: 8px 20px;
      font-weight: $bolder;
      font-size: $fontSizeSmall;
    } 
}

.discover{
  text-align: center;
  background: $grey;
  height: 350px;
    p:nth-child(1){
      padding: 30px 20px 22px;
      font-weight: $bolder;
      // font-family: $font2;
      font-size: 1.7rem;
      margin: 0 30px;
    }
    p{
      font-size: $fontSizeSmall;
      padding: 10px 20px 25px;
      margin-bottom: 30px;
    }
}

.choice{
  background-color: $white;
  height: 420px;
  &__title{
    font-size: $fontSizeTitle;
    font-family: $bolder;
    margin: 0 30px 30px;
    padding-top: 20px;
  }
}

li{
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 30px;
  background-color: $grey;
  border-radius: 30px;
  @include boxShadow;
  position: relative;//pour mettre le span en position absolute
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    opacity:0.7;
    @include boxShadowDarken;
    background-color:$secondaryLight
  }
    span {
      color: $white;
      height: 25px;
      width: 25px;
      background-color: $primary;
      border-radius: 50%;
     @include flexCenter;
      position: absolute;
      left: -15px; //pour mettre le chiffre sur la bordure
    }
    .fa-mobile-alt, .fa-list-ul, .fa-store {
      margin-right: 15px;
      font-size: 20px;
      &:hover{
        color: $primaryDarken
      }
    }
    p{
      font-size: $fontSizeSmall;
    }

}

@media screen and (min-width: 950px){
  .choice ol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  li{
    padding: 20px 50px;
    font-size: $fontSizeSmall;
  }   
}

.picture{
  background-color: $grey;
  height: 1200px;
  @media screen and (min-width: 950px){
      height: 700px;
    }
      &__title{
        padding-top: 50px;
        font-size: $fontSizeTitle;
        margin: 0 30px 30px 22px;
      }
      &__flex{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          @media screen and (min-width: 950px){
              display: flex;
              justify-content: center;
              flex-wrap: nowrap;
              margin: 0 20px;
            }
              &--bordureMenu{
                  border: 2px solid $white;
                  border-radius: 20px;
                  @include boxShadowLight;
                  background-color: $white;
                  width: 90%;
                  height: 240px;
                  margin: 0 20px 20px 10px;
                  position: relative;//pour l'icone "new"
                  cursor: pointer;
                  .image1, .image2, .image3, .image4{
                    @include imageSize;
                  }
                   
                  .new{
                      position: absolute;
                      right: 16px;
                      top: 13px;
                      padding: 8px;
                      background-color: $tertiary;
                      color:$tertiaryDarken;
                      font-weight: 700;
                    }

                  .textImage{
                    margin-left: 15px;
                  } 
                  h4{
                    padding-top: 10px;
                    font-weight: $bolder;
                  }
                  .heart{
                      position: relative;
                      &__far{
                          position: absolute;
                          right: 16px;
                          bottom: 7px;
                          font-size: $sizeHeart;
                          color: $blackLightest;
                        }  
                        &__fas{
                        color: transparent;
                        background-clip: text;//L'arrière-plan se limite au texte au premier-plan.
                        -webkit-background-clip: text;
                        position: absolute;
                        cursor: pointer;
                        right: 16px;
                        bottom: 7px;
                        font-size: $sizeHeart;
                        transition:all 1500ms ease-in-out;
                        opacity: 0;
                          &:hover{
                            background-image: linear-gradient($secondary,$primary);
                            opacity: 1;
                          }
                      }    
                      
                  }  
              }
          
      }
}

/*******Footer******/
footer{
  background-color: $black;
  height: 240px;
  color: $white;
  padding: 40px 0 0 20px;
  @media screen and (min-width: 950px){
      display: flex;
    }
    h5{
      font-size: $fontSizeSmall;
      padding: 30px 0;
      @media screen and (min-width: 950px){
          font-size: $fontSizeSmall;
          margin: 20px 0;
        }
      }
    .ustensil{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        p{
          margin-left: 15px;
          cursor: pointer;
        }
       }
     .hands{
         display: flex;
         align-items: center;
         margin-bottom: 5px;
         p{
           margin-left: 15px;
           cursor: pointer;
          }
       }
 
     a{ 
       color: $white;
       text-decoration: none;
       cursor: pointer;
      }
     p{
       margin-bottom: 5px;
       cursor: pointer;
    }
}

@media screen and (min-width: 950px){
  .flex{
    @include flexCenter;
    padding: 30px 70px;
      .ustensil{
        font-size: $fontSizeSmall;
        gap:  5px;
        p{
          margin: 0 50px 5px;
          font-size: $fontSizeSmall;
        }
      }
      .hands{
        font-size: $fontSizeSmall;
        gap: 5px;
        p{
          margin: 0 40px 5px;
          font-size: $fontSizeSmall;
        }
      }
      a{
        font-size: $fontSizeSmall;
      }
      p{
        margin-left: 40px;
        font-size: $fontSizeSmall;
        &:nth-child(3){
          margin-right: 40px;
        }
      }
  }
}

/*page loader*/
.loader{
  position: fixed;
  @include flexCenter;
  background-color: $white;
  height: 100vh;
  inset: 0;
  z-index: 1;//pour positionner la page par dessus la page restaurant
  opacity: 0.9;
  animation: disappear 2s forwards 2s;
  // animation-duration: 2s;
  // animation-fill-mode: forwards;
  // animation-delay: 2s;
  transform-origin: top;
  &::after{
    content: "";
    height: 100px;
    width: 100px;
    border-top: 5px solid $secondary;
    border-bottom: 5px solid $primary;
    border-right: 5px solid $tertiary;
    border-left: 5px solid $tertiary;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    
  }
}











  
