  
  header{
    .logo{
      height: 40px;
      text-align: center;
      padding: 10px 30px 0 0;
      position: relative;
  
      .arrow{
        position: absolute;
        top: 12px;
        margin-left: 30px;
        font-size: 20px;
        color: $black;
        @media screen and (min-width:992px){
          top:35px;
          font-size: 30px;
        }
      }
        h1{
        text-align: center;
        color: $black;
        @include fontSizeTitle;
        @media screen and (min-width:992px) {
          font-size: 3rem;
        }
    }
  } 
}

/************Menu***********/
main{
  background-color: $grey;
  margin-top: 20px;
  @media screen and (min-width:992px){
      margin-top: 60px;
  }
  .picture{
    @include imageSizeBig;
  }               
  .bordureMenu{
    background-color: $grey;
    border-radius: 25px 25px 0 0;
    z-index: 1;//pour remonter la bordure par dessus l'image
    position: relative;
    margin-top: -4rem;//pour remonter la bordure par dessus l'image
      h2{
        @include fontSizeTitle;
        margin-left: 30px;
        padding: 30px 0;
      }
      .heart{
        position: relative;
        &__far{
            @include heartPosition;
            font-size: $sizeHeart;
            color: $blackLight
          }  
        &__fas{
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          @include heartPosition;
          font-size: $sizeHeart;
          transition:all 1500ms ease-in-out;
          opacity: 0;
          cursor: pointer;
              &:hover{
              background-image: linear-gradient($secondary,$primary);
              opacity: 1;
            }
        }
      }
  }
}

.menu{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  @media screen and (min-width:992px){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  .menu-category{
    overflow: hidden;
      h3{
        text-transform: uppercase;
        border-bottom: solid 3px  $tertiary;
        width: 50px;
        margin-left: 28px;
        color: $blackLightest;
      }    
  }
}


.menu-item{
  display: flex;
  overflow: hidden;//pour "cacher" le check qui est en dehors de la div
  border-radius: 16px;
  @include boxShadow;
  background-color:$white;
  margin: 20px;
  cursor: pointer;
  &:hover  
    .check{
      background-color: $tertiary;
      border-radius: 0 16px 16px 0;
      margin-left: -3rem; 
      width: 4rem;
      margin-left: 0;
      @include flexCenter;
      flex-shrink: 0;//propriété qui interdit a l'élément de rétrécir
      animation: slide-left 1s ease;
      
        i::before{
        content: "\f00c";
        font-family: "Font Awesome 5 free";
        font-weight: $bolder;
        background: $white;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        @include flexCenter;
        color: $tertiary;
        animation: quatorspin 1s ease-in;
    
      }
    }
}   
.menu-item-text{
  padding: 16px;//pour que l'item check prenne bien la hauteur du parent menuItemDescription
  overflow: hidden;
  h4, p{
    overflow: hidden;
    white-space: nowrap;//pour demander de ne pas aller à la ligne
    text-overflow: ellipsis;//pour faire apparaitre les ... au responsive mobile
  }
}

.price{
  margin-left: auto;//pour mettre le prix a droite de la bordure
  font-weight: $bolder;
  padding: 16px;
  display: flex;//pour descendre le prix en bas de la div. Il faut mettre un span car sinin le flex ne marche pas
  align-items: flex-end;
}


/*******Button*****/
.order button {
  margin: 20px 0 40px 0;
}

.order{
  @include flexCenter;
}

/**********Footer*************/
footer{
  background-color: $blackLight;
  height: 300px;
  color: $white;
  padding-left: 20px;
  @media screen and (min-width: 992px){
      display: flex;
    }
    h5{
      @include fontSizeTitle;
      @media screen and (min-width: 992px){
        @include fontSizeSmall;
        margin: 20px 0;
      }
    }
    .ustensil{
      display: flex;
      align-items: center;
    }
      .hands{
      display: flex;
      align-items: center;
    }
}

@media screen and (min-width: 992px){
    .flex{
    @include flexCenter;
    padding: 30px 70px;
      .ustensil{
        @include fontSizeSmall;
        gap:  5px;
        p{
          margin-right: 50px;
          @include fontSizeSmall;
          margin-left: 5px;
        }
      }
      .hands{
        @include fontSizeSmall;
        gap: 5px;
        p{
          margin-right: 40px;
          @include fontSizeSmall;
          margin-left: 5px;
        }
      }
      a{
        @include fontSizeSmall;
      }
      p{
        margin-left: 40px;
        @include fontSizeSmall;
        &:nth-child(3){
          margin-right: 40px;
        }
      }
  }
}
