  
/************Menu***********/
main{
  background-color: global.$grey;
  margin-top: 20px;
 
  .picture{
    @include mixins.imageSizeBig;
  }               
  .bordureMenu{
    background-color: global.$grey;
    border-radius: 25px 25px 0 0;
    z-index: 1;
    position: relative;
    margin-top: -4rem;
      h2{
        font-family: global.$font1;
        font-size: global.$fontSizeTitle;
        margin-left: 30px;
        padding: 30px 0;
      }
      .heart{
        position: relative;
        &__far{
            @include mixins.heartPosition;
            font-size: global.$sizeHeart;
            color: global.$blackLight
          }  
        &__fas{
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          @include mixins.heartPosition;
          font-size: global.$sizeHeart;
          transition: all 1500ms ease-in-out;
          opacity: 0;
          cursor: pointer;
              &:hover{
              background-image: linear-gradient(global.$secondary,global.$primary);
              opacity: 1;
            }
        }
      }
  }
}

.menu{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  .menu-category{
    overflow: hidden;
      h3{
        text-transform: uppercase;
        border-bottom: solid 3px  global.$tertiary;
        width: 50px;
        margin-left: 28px;
        color: global.$blackLightest;
      }    
  }
}

/********menu with animation check*******/

.menu-item{
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: global.$boxShadow;
  background-color: global.$white;
  margin: 20px;
  cursor: pointer;
  &:hover  
    .check{
      background-color: global.$tertiary;
      border-radius: 0 16px 16px 0;
      margin-left: -3rem; 
      width: 4rem;
      margin-left: 0;
      @include mixins.flexPosition(center);
      flex-shrink: 0;
      animation: slide-left 1s ease;
      
        i::before{
        content: "\f00c";
        font-family: "Font Awesome 5 free";
        font-weight: global.$bolder;
        background: global.$white;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        @include mixins.flexPosition(center);
        color: global.$tertiary;
        animation: quatorspin 1s ease-in;
      }
    }
}
/*****Text menu******/   
.menu-item-text{
  padding: 16px;
  overflow: hidden;
  h4, p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.price{
  margin-left: auto;
  font-weight: global.$bolder;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}


/*******Button*****/
.order button {
  margin: 20px 0 40px 0;
}

.order{
  @include mixins.flexPosition(center);
}

/******************Responsive******************/
@media screen and (min-width:992px){
  Main{
    margin-top: 60px;
  }
  .menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

