@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin imageSize{
    object-fit: cover;
	width: 100%;
	height: 170px;
	border-radius: 20px 20px 0 0;
}
@mixin imageSizeBig{
	object-fit: cover;
    width: 100%;
    height: 400px;
}
@mixin boxShadow {
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
}
	
@mixin boxShadowDarken {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
}

@mixin boxShadowLight{
	box-shadow: 7px 8px 7px rgb(223, 220, 220);
}

@mixin fontSizeTitle{
	font-size: 1.5rem;
}
@mixin fontSizeSmall{
	font-size: 1.2rem;
}
@mixin heartPosition{
	position: absolute;
    right: 48px;
    bottom: 37px;
}